.create-resource{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.create-header{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.create-header h4{
    margin: 15px;
}
.create-form{
    box-shadow: 0px 0px 5px -1px #4d4d4d;
    width: 400px;
}
.create-body{
    padding: 20px;
}
.create-button{
    width: 100%;
    background-color: #01579b;
}

.create-button:hover{
    background-color: #01579b!important;
    color: white!important;
}
.create-button:focus{
     background-color: #01579b!important;
     color: white!important;
}
.error-message{
    display: flex;
    justify-content: flex-start;
    font-size: 0.7rem;
}
.error-message span{
   font-weight: bold;
   color: #b71c1c;
}
.create-back-section{
    display: flex;
    justify-content: center;
}
.create-back-button{
    font-size: 0.8rem;
    text-decoration: underline;
}

#create-select{
   border-bottom: none;
}
#create-select:focus{
      border-bottom: none!important;
}

#create-select:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}

input:focus {
  border-bottom: black!important;
  box-shadow: black;
}


