.resources-page{
   padding-top: 50px;
}
.resources-table thead{
    background-color: #222222;
    color: white;
}       
.resources-page-bottom{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}