.resources-page{
   padding-top: 70px;
}
.resources-table thead{
    background-color: #222222;
    color: white;
}       
.resources-page-bottom{
    display: flex;
    justify-content: space-between;
    padding: 5px;
     
}

.resources-page-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px
    
  }
 
.btn-group button{
    margin:3px
}
.color-type{
   
    width: 20px;
    height: 20px;
}
.resources-select{
    width: 200px;
    margin-bottom:20px!important
}
#resources-select{
   
    border-bottom: none;
 }
 
 #resources-select:focus {
   border-bottom: none!important;
   box-shadow: none!important;
 }
 
 